<div class="container">
  <h3 class="text-center text-warning">
    <!-- Danh sách ghế đã đặt({{ list.length }}) -->
    Danh sách ghế đã đặt:({{ value }})
  </h3>

  <table class="w-100 text-center">
    <thead>
      <tr>
        <th>Ghế</th>
        <th>Giá</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let gheItem of item">
        <td>{{ gheItem.TenGhe }}</td>
        <td>{{ gheItem.Gia }}</td>
      </tr>
    </tbody>
    <tfoot class="border-top">
      <tr>
        <td class="font-weight-bold">Tổng</td>
        <td class="text-danger font-weight-bold">{{ result }}</td>
      </tr>
    </tfoot>
  </table>
</div>
