<div class="container">
  <div class="text-center py-3 font-weight-bold mb-3 title">Tài xế</div>
  <div class="text-center">
    <app-ghe-item
      *ngFor="let ghe of ListGhe"
      [item]="ghe"
      (emitStatus)="DatGheParent($event, ghe)"
    ></app-ghe-item>
  </div>
</div>
