<div class="container py-4">
  <h1 class="text-center text-warning mb-4">ĐẶT VÉ XE BUS HÃNG CYBERSOFT</h1>
  <div class="row justify-content-center">
    <div class="col-7">
      <app-list-ghe
        (emitValue)="getValue($event)"
        (emitGhe)="getGhe($event)"
      ></app-list-ghe>
    </div>
    <div class="col-5">
      <app-edit-list-ghe [value]="count" [item]="arrItem"></app-edit-list-ghe>
    </div>
  </div>
</div>
