<ng-container *ngIf="!item.TrangThai; else gheDaDuocChon">
  <button
    class="btn btn-secondary mx-5 mb-4 text-center"
    [ngClass]="{ 'btn-success': status }"
    (click)="datGhe()"
  >
    {{ item.SoGhe }}
  </button>
</ng-container>

<ng-template #gheDaDuocChon>
  <button disabled class="btn btn-danger mx-5 mb-4 text-center .btn-notAllow">
    {{ item.SoGhe }}
  </button>
</ng-template>
